.content-aside-grid {
  display: grid;
  grid-template-areas: 'content aside';
  grid-template-columns: 5fr 2fr;
  grid-column-gap: var(--space-md);
}

@media (max-width: 600px) {
  .content-aside-grid {
    grid-template-areas:
      'content'
      'aside';
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }

  .aside {
    margin-top: var(--space-md);
    height: 100%;
    position: initial;
  }
}
