.content-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: var(--space-sm);
  margin-top: var(--space-lg);
  margin-bottom: var(--space-lg);
}

@media (max-width: 1300px) {
  .content-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 900px) {
  .content-grid {
    grid-template-columns: 1fr;
  }
}
