:root {
  --accent-1-light: #ff007a;
  --accent-2-light: hsla(331, 100%, 50%, 0.582);
  --accent-1-dark: #ff007a;
  --accent-2-dark: hsla(331, 100%, 50%, 0.582);
  --sans: 'GT Haptik';
}

@font-face {
  font-family: 'GT Haptik';
  src: url('./fonts/GT-Haptik-Regular.woff2');
}

@font-face {
  font-family: 'GT Haptik';
  src: url('./fonts/GT-Haptik-Bold.woff2');
  font-weight: bold;
}
