.avatar-image {
  width: 160px;
  border-radius: 100%;
  position: absolute;
  bottom: var(--space-xs);
  left: var(--space-xs);
  box-shadow: var(--elevation-3);
}

.avatar-quote-container {
  position: absolute;
  bottom: 150px;
  left: 150px;
  z-index: 1;
  width: 600px;
  box-shadow: var(--elevation-3);
}

.avatar-quote {
  position: absolute;
  top: 0;
  left: 0;
  width: fit-content;
  transition: opacity 0.2s ease-in-out;
  border-radius: var(--space-md);
  opacity: 0;
  padding: var(--space-sm);
  box-shadow: var(--elevation-3);
}

.avatar-quote[current-quote='true'] {
  opacity: 1;
  animation: pulse 2s ease-in-out infinite;
}

@media (max-width: 768px) {
  .avatar-image,
  .avatar-quote-container {
    display: none;
  }
}
