:root {
  --accent-1: #ff007a;
  --accent-2: hsla(331, 100%, 50%, 0.582);
  --sans: 'GT Haptik';
  --featured-img-src: './Card.png';
}

@font-face {
  font-family: 'GT Haptik';
  src: url('./fonts/GT-Haptik-Regular.woff2');
}

@font-face {
  font-family: 'GT Haptik';
  src: url('./fonts/GT-Haptik-Bold.woff2');
  font-weight: bold;
}
