a {
  color: var(--accent-1);
  transition: var(--transition);
}

a:hover,
a:focus {
  color: var(--accent-2);
  transition: var(--transition);
}

a:disabled {
  cursor: not-allowed;
}

a > h1,
a > h2,
a > h3,
a > h4,
a > h5,
a > h6 {
  margin-block: var(--space-sm);
  margin-inline: var(--space-xs);
}
