details {
  background-color: var(--bg-2);
  width: 100%;
  border-radius: var(--radius);
  border: var(--thickness) solid var(--accent-1);
  transition: var(--transition);
}

details:hover {
  box-shadow: var(--elevation-3);
  border-color: var(--accent-2);
}

details[open] {
  box-shadow: var(--elevation-3);
}

details > * {
  padding-top: 0;
  padding-left: var(--space-md);
  padding-right: var(--space-md);
}

details > p:first-of-type {
  margin-block-start: 0;
}
