dialog {
  background-color: var(--bg-1);
  color: var(--text-color);
  border: var(--thickness) solid var(--accent-2);
  border-radius: var(--radius);
  box-shadow: var(--elevation-3);
  max-width: var(--container);
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

dialog > form {
  padding: 0;
  box-shadow: none;
}
