fieldset {
  border: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

fieldset > input:not(:last-child),
fieldset > textarea:not(:last-child) {
  margin-block-end: var(--space-md);
}
