hr {
  border-color: var(--accent-1);
  border: none;
  border-radius: var(--radius);
  background-color: var(--accent-1);
  margin-block-start: var(--space-lg);
  margin-block-end: var(--space-lg);
  box-shadow: var(--elevation-2);
  height: var(--thickness);
}
