select {
  appearance: none;
  -webkit-appearance: none;
  background-color: var(--bg-2);
  border: var(--thickness) solid var(--accent-1);
  border-radius: var(--radius);
  padding: var(--space-sm) var(--space-sm);
  font-family: var(--font-family);
  font-size: var(--text-md);
  cursor: pointer;
  line-height: inherit;
  color: var(--text-color);
  margin-bottom: var(--space-md);
  transition: var(--transition);
}

select:hover,
select:focus {
  border-color: var(--accent-2);
  transition: var(--transition);
}
