.card {
  background: var(--bg-2);
  box-shadow: var(--elevation-1);
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.card:hover {
  box-shadow: var(--elevation-3);
}
