.nav-link {
  text-decoration: none;
  margin-right: var(--space-md);
  color: var(--accent-1);
  transition: var(--transition);
  font-weight: 700;
}

.nav-link:last-child {
  margin-right: 0;
}

.nav-link:focus {
  color: var(--accent-2);
}

.nav-link:hover {
  color: var(--accent-2);
}

.nav-link[data-is-active='true'] {
  color: var(--accent-2);
  text-decoration: underline;
}
