.nav-link {
  text-decoration: none;
  margin-right: var(--space-md);
  color: var(--href-color);
  transition: var(--transition);
  font-weight: 700;
}

.nav-link:last-child {
  margin-right: 0;
}

.nav-link:focus {
  color: var(--href-hover-color);
}

.nav-link:hover {
  color: var(--href-hover-color);
}

.nav-link[data-is-active='true'] {
  color: var(--href-hover-color);
  text-decoration: underline;
}
