blockquote {
  background: var(--bg-2);
  padding: var(--space-md);
  border-left: 0.5rem solid var(--accent-1);
  box-shadow: var(--elevation-1);
  border-radius: var(--radius);
  letter-spacing: var(--paragraph-letter-spacing);
  line-height: var(--paragraph-line-height);
  margin: var(--space-lg) 0;
  width: fit-content;
}

blockquote > p {
  margin: 0;
  font-style: italic;
}

blockquote > h1,
h2,
h3,
h4 {
  margin-block-start: 0;
  margin-block-end: 0;
}
