.btn {
  cursor: pointer;
  background: var(--bg-1);
  color: var(--btn-color);
  padding: var(--space-md) var(--space-xl);
  font-weight: 700;
  font-size: var(--text-md);
  font-family: var(--sans);
  text-transform: uppercase;
  letter-spacing: var(--heading-letter-spacing);
  border: var(--thickness) solid var(--btn-border);
  border-radius: var(--radius);
  margin-bottom: var(--space-lg);
  margin-right: var(--space-md);
}

.btn:last-child {
  margin-right: 0;
}

.btn:hover,
.btn:focus {
  transition: var(--transition);
  border: var(--thickness) solid var(--accent-2);
  color: var(--grey);
  background-color: var(--bg-2);
}

.btn:disabled {
  background: var(--bg-2);
  border-color: var(--grey);
  color: var(--grey);
  opacity: var(--opacity);
  filter: var(--opacity);
}
