button {
  cursor: pointer;
  background: var(--bg-1);
  color: var(--btn-color);
  padding: var(--space-sm) var(--space-md);
  font-weight: 700;
  font-size: var(--text-md);
  font-family: var(--font-family);
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: var(--caps-letter-spacing);
  border: var(--thickness) solid var(--btn-border);
  border-radius: var(--radius);
  margin-bottom: var(--space-md);
  box-shadow: var(--elevation-1);
  margin-right: var(--space-md);
  transition: var(--transition);
}

button:last-child {
  margin-right: 0;
}

button:hover,
button:focus,
.btn--hover,
.btn--focus {
  transition: var(--transition);
  color: var(--btn-hover-color);
  border-color: var(--href-hover-color);
  box-shadow: inset var(--elevation-1);
}

button:disabled,
.btn--disabled {
  background: var(--bg-2);
  border-color: var(--grey);
  color: var(--grey);
  opacity: var(--opacity);
  filter: var(--opacity);
  cursor: not-allowed;
}

button.primary,
button[type='submit'] {
  background: var(--primary-btn-bg);
  color: var(--primary-btn-color);
  border: var(--thickness) solid var(--primary-btn-bg);
  box-shadow: var(--elevation-2);
}

button.primary:hover,
.btn-primary--hover,
.btn-primary:focus,
.btn-primary--focus {
  color: var(--primary-btn-hover-color);
  box-shadow: var(--elevation-1);
  background: var(--href-hover-color);
  border-color: var(--accent-2);
}

button.primary:disabled,
.btn-primary--disabled {
  background: var(--grey);
  border-color: var(--grey);
  color: var(--bg-1);
  cursor: not-allowed;
}
