.code {
  font-family: var(--mono);
  color: white;
  padding: var(--space-sm);
}

code[class*='language-'],
pre[class*='language-'] {
  font-family: var(--mono);
  font-size: var(--text-sm);
  margin-top: var(--space-md);
  margin-bottom: var(--space-md);
  border-radius: var(--radius);
  overflow-y: auto;
}

:not(pre) > code,
pre {
  background: var(--code-bg);
  color: white;
  padding: 0 var(--space-sm);
  border-radius: var(--radius);
}
