.details {
  border: var(--thickness) solid var(--accent-1);
  border-radius: var(--radius);
  margin-bottom: var(--space-md);
  color: var(--text-color);
}

.details[open] {
  /*  */
}

.details > * {
  padding: 0 var(--space-md);
}
