.hr {
  border-color: var(--accent-1);
  border: calc(var(--thickness) / 2) solid var(--accent-1);
  background-color: var(--accent-1);
  margin-block-start: var(--space-lg);
  margin-block-end: var(--space-lg);
  box-shadow: var(--elevation-2);
  border-radius: var(--radius);
}
