.input {
  font-family: var(--sans);
  border-radius: var(--radius);
  border: var(--thickness) solid var(--input-border);
  padding: var(--space-md);
  margin-bottom: var(--space-lg);
  background-color: var(--bg-2);
  color: var(--text-color);
  letter-spacing: var(--paragraph-letter-spacing);
  box-shadow: var(--elevation-1);
}

.input:hover {
  border-color: var(--accent-2);
}

.input:focus {
  border-color: var(--accent-2);
  box-shadow: var(--elevation-3);
}
