.input {
  font-family: var(--font-family);
  font-size: var(--text-md);
  border-radius: var(--radius);
  border: calc(var(--thickness)) solid var(--input-border);
  padding: var(--space-sm);
  margin-bottom: var(--space-md);
  background-color: var(--bg-2);
  color: var(--text-color);
  letter-spacing: var(--paragraph-letter-spacing);
  box-shadow: var(--elevation-1);
  transition: var(--transition);
}

.input:hover,
.input:focus {
  border-color: var(--href-hover-color);
  box-shadow: var(--elevation-3);
  transition: var(--transition);
}
