.input {
  font-family: var(--sans);
  font-size: var(--text-md);
  border-radius: var(--radius);
  border: calc(var(--thickness)) solid var(--input-border);
  padding: var(--space-sm);
  margin-bottom: var(--space-md);
  background-color: var(--bg-2);
  color: var(--text-color);
  letter-spacing: var(--paragraph-letter-spacing);
  box-shadow: var(--elevation-1);
}

.input:hover {
  border-color: var(--grey);
}

.input:focus {
  border-color: var(--accent-2);
  box-shadow: var(--elevation-3);
}
