.select {
  appearance: none;
  -webkit-appearance: none;
  background-color: var(--bg-2);
  border: var(--thickness) solid var(--input-border);
  border-radius: var(--radius);
  padding: var(--space-md) var(--space-sm);
  width: 100%;
  font-family: var(--font-family);
  font-size: var(--font-size);
  cursor: pointer;
  line-height: inherit;
  color: var(--text-color);
  margin-bottom: var(--space-md);
}

.select:hover,
.select:focus {
  border-color: var(--accent-2);
}

.select::-ms-expand {
  display: none;
}
