.summary {
  font-size: var(--text-lg);
  font-weight: bold;
  padding: var(--space-md);
  color: var(--href-color);
  background-color: var(--bg-2);
  cursor: pointer;
}

.summary:focus {
  color: var(--href-hover-color);
  border-color: var(--href-hover-color);
}

.summary:hover {
  color: var(--href-hover-color);
  border-color: var(--href-hover-color);
  background-color: var(--bg-2);
}
