summary {
  font-size: var(--text-lg);
  font-weight: bold;
  padding: var(--space-sm) var(--space-md);
  color: var(--href-color);
  background-color: var(--bg-2);
  cursor: pointer;
  transition: var(--transition);
  border-radius: var(--radius);
}

summary:focus,
summary:hover {
  color: var(--href-hover-color);
  transition: var(--transition);
  background-color: var(--bg-2);
}
