.textarea {
  font-family: var(--sans);
  border-radius: var(--radius);
  border: var(--thickness) solid var(--input-border);
  padding: var(--space-md);
  margin-bottom: var(--space-lg);
  background-color: var(--bg-2);
  color: var(--text-color);
  box-shadow: var(--elevation-1);
  letter-spacing: var(--paragraph-letter-spacing);
  width: available;
}

.textarea:hover,
.textarea:focus {
  border: var(--thickness) solid var(--accent-2);
}
