textarea {
  font-family: var(--font-family);
  font-size: var(--text-lg);
  border-radius: var(--radius);
  border: var(--thickness) solid var(--input-border);
  padding: var(--space-sm);
  background-color: var(--bg-2);
  color: var(--text-color);
  resize: vertical;
  box-shadow: var(--elevation-1);
  letter-spacing: var(--paragraph-letter-spacing);
  transition: var(--transition);
}

textarea:hover,
textarea:focus {
  border-color: var(--accent-2);
  box-shadow: var(--elevation-3);
}
