@media (prefers-color-scheme: dark) {
  :root {
    --bg-1: rgb(0, 0, 0);
    --bg-2: #1a1a1b;
    --accent-1: hotpink;
    --accent-2: #80cba2;
    --grey: #fafafa9f;
    --text-color: white;
    --shadow-color: rgba(25, 17, 37, 0.883);
    --href-color: var(--accent-1);
    --href-hover-color: var(--accent-2);
    --btn-color: var(--href-color);
    --btn-hover-color: var(--href-hover-color);
    --primary-btn-bg: var(--accent-1);
    --primary-btn-color: var(--bg-1);
    --primary-btn-hover-color: var(--bg-1);
    --code-bg: var(--bg-2);
  }
}
