:root {
  --accent-1: #1652f0;
  --accent-2: #547feb;
  --sans: 'Graphik';
}

@font-face {
  font-family: 'Graphik';
  src: url('./fonts/Graphik-Regular.woff2');
}

@font-face {
  font-family: 'Graphik';
  src: url('./fonts/Graphik-Semibold.woff2');
  font-weight: bold;
}
