:root {
  --accent-1-light: #ff9900;
  --accent-2-light: #ffb74b;
  --accent-1-dark: #ff9900;
  --accent-2-dark: #ffb74b;
  --sans: 'Amazon Ember';
  --caps-letter-spacing: 0.1rem;
}

@font-face {
  font-family: 'Amazon Ember';
  src: url('./fonts/AmazonEmber_Rg.ttf');
}

@font-face {
  font-family: 'Amazon Ember';
  src: url('./fonts/AmazonEmber_Bd.ttf');
  font-weight: bold;
}
